body {
  background-image: url('https://i.postimg.cc/NFC2grsP/pexels-borja-lopez-1346154.jpg');
  color: white;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

button {
 height: 60px;
 width: 60px;
 border-radius: 50%;
 color: white;
 background-color: black;
 font-size: 50px;
}

.container {
  padding: 100px;
  font-size: 30px;
}

.game-result {
  border: solid;
  border-color: #cccs;
  width: 70px;
}